body
{
    height: 100vh;
    background:url(img/bg.jpg) center center/cover no-repeat;
}
.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0 auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;

}
.b-popup .b-popup-content{
    margin:40px auto 0 auto;
    width:348px;
    height: 245px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;

}
@media screen and (max-width: 680px){
    .b-popup .b-popup-content {
        width: 50vw;
        min-width:310px;
        height: 50vh;
        min-height:290px;
    }
}
